body {background-color: #fabcbc;}
p {font-size: large;}
h1   {color: #4d190f;}
h2   {color: #4d190f;}
c1 {color:#4d190f}
#green {color:green;}
.yellow {color:yellow;}
p    {color: rgb(0, 0, 0);}
#map{
    width: 40%;
    padding-left: 10px;
}

#marocpng{
    width:40%;
}
.center { display: block; margin-left: auto; margin-right: auto; }

#marocwflag{
      width:100%;
}
#jewishschool{
    width:40%; 
}
#bigtext {
    display:inline-flex;
    width: 100%;
    padding: 10px;
}