body {background-color: rgb(250, 188, 188);}
h1   {color: rgb(156, 46, 31);}
h2   {color: rgb(77, 25, 15);}
#green {color:green;}
.yellow {color:yellow;}
p    {color: rgb(0, 0, 0);}
#map{
    width: 20%
}